/** articler style sheet -- styling for editor */

:root {
    /** colour theme **/
    /* https://www.materialui.co/flatuicolors */
    --turquoise: #1abc9c;
    --greensea: #16a085;

    --emerland: #2ecc71;
    --nephritis: #27ae60;

    --peterriver: #3498db;
    --belizehole: #2980b9;

    --amethyst: #9b59b6;
    --wisteria: #8e44ad;

    --wetasphalt: #34495e;
    --midnightblue: #2c3e50;

    --sunflower: #f1c40f;
    --orange: #f39c12;

    --carrot: #e67e22;
    --pumpkin: #d35400;

    --alizarin: #e74c3c;
    --pomegranate: #c0392b;

    --clouds: #ecf0f1;
    --silver: #bdc3c7;

    --concrete: #95a5a6;
    --asbestos: #7f8c8d;


    /** font sizes **/
    --normal:   1em;
    --large:    2em;
    --x-large:  3em;
}


html {}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.left   { text-align: left;   }
.right  { text-align: right;  }
.centre { text-align: center; }

.allow-middle-centre { position: relative; }
.middle-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/** fullscreen wrapper **/
.wrapper {
    /* fullsreen */
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wrapper > * {
    padding: 1em;
}

/** centred banner **/
header .centred-banner { font-weight: bold; }
.centred-banner {
    font-size: large;

    /* centre */
    display: flex;
}

.centred-banner > * {
    padding-left: 1em;
    padding-right: 1em;

    /* full width */
    flex-grow: 1;
}
@media screen and (max-width: 600px)
{
    .centred-banner > * {
        font-size: small;
    }
}


/** header **/
header {
    /* debug */
    background-color: var(--amethyst);
}

/** footer **/
footer {
    /* debug */
    background-color: var(--carrot);
}

/** Font Awesome icon button **/
.fa-icon-button         { color: var(--asbestos); padding-left: 4em; }
.fa-icon-button:hover   { color: var(--pomegranate); }
.fa-icon-button:visited { text-decoration: none; }

/** page main **/
.page-main {
    /* debug */
    background-color: var(--turquoise);

    /* fullscreen */
    flex-grow: 1;
}


/** editor viewer split **/
.editor-viewer-split {
    display: flex;
}
.editor-viewer-split > * {
    flex: 50%;
}

