/** articler style sheet -- styling for editor */

:root {
    /** colour theme **/
    /* https://www.materialui.co/flatuicolors */
    --turquoise: #1abc9c;
    --greensea: #16a085;

    --emerland: #2ecc71;
    --nephritis: #27ae60;

    --peterriver: #3498db;
    --belizehole: #2980b9;

    --amethyst: #9b59b6;
    --wisteria: #8e44ad;

    --wetasphalt: #34495e;
    --midnightblue: #2c3e50;

    --sunflower: #f1c40f;
    --orange: #f39c12;

    --carrot: #e67e22;
    --pumpkin: #d35400;

    --alizarin: #e74c3c;
    --pomegranate: #c0392b;

    --clouds: #ecf0f1;
    --silver: #bdc3c7;

    --concrete: #95a5a6;
    --asbestos: #7f8c8d;


    /** font sizes **/
    --normal:   1em;
    --large:    2em;
    --x-large:  3em;
}


html {}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


.left   { text-align: left;   }
.right  { text-align: right;  }
.centre { text-align: center; }

.allow-middle-centre { position: relative; }
.middle-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/** fullscreen wrapper **/
.wrapper {
    /* fullsreen */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/** centred banner **/
header .centred-banner { font-weight: bold; }
.centred-banner {
    font-size: large;

    /* centre */
    display: flex;
}

.centred-banner > * {
    padding-left: 1em;
    padding-right: 1em;

    /* full width */
    flex: 50%;
}
@media screen and (max-width: 600px)
{
    .centred-banner > * {
        font-size: small;
    }
}


/** header **/
header {
    background-color: var(--clouds);

    border-bottom: 2px;
    border-color: var(--midnightblue);
    border-style: solid;

    padding: 1em;
}

/** footer **/
footer {
    background-color: var(--clouds);

    border-top: 2px;
    border-color: var(--midnightblue);
    border-style: solid;

    padding: 1em;
}

/** Font Awesome icon button **/
.fa-icon-button {
    color: var(--pomegranate);
    padding-left: 1em;
    padding-right: 1em;
}
.fa-icon-button:hover   { color: var(--nephritis); }
.fa-icon-button:visited { text-decoration: none; }

/** page main **/
.page-main {
    background-color: var(--clouds);

    /* fullscreen */
    flex-grow: 1;
}


/** editor viewer split **/
.editor-viewer-split {
    display: flex;
    
    height: 100%;
}
.editor-viewer-split > * {
    /* split screen */
    flex: 50%;

    /**/
    display: flex;
    flex-direction: column;

    /** debug **/
    background-color: aqua;
}

.control-bar { background-color: brown; }
.editor-body { background-color: orange; } 
.viewer-body { background-color: chartreuse; }

.control-bar {
    padding: 1em;
}

.viewer-body {
    height: 100%;

    padding: 1em;
}
.editor-body {
    height: 100%;

    font-family: 'Inconsolata', monospace;

    border: none;
    margin: 0;
}

/** Stop empty editor from flashing on load **/
/* .editor-body textarea { display: none; } */

.editor-body .CodeMirror { width: 100%; height: 100%; }

